*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1C140F;
    color: #E6C27A;
    position: relative;
    height: 85px;
}
header img{
    height: 35px;
    width: 35px;
}
.logo img{
    height: 170px;
    width: 240px;
    margin-top: 10px;
    margin-left: -30px;
}
.right{
    display: flex;
    align-items: center;
    gap: 50px;
}
.right img{
    transition: all 0.3s ease;
}
.right img:hover{
    filter: 
        drop-shadow(0 0 5px #F4D9A6)
        drop-shadow(0 0 15px #D9A441)
        drop-shadow(0 0 0px rgba(217,164,65,0.5));
    transform: scale(1.1);
}

.burger{
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}
.burger_menu{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color:#0F0B08;
    list-style: none;
    padding: 70px 20px;
    margin: 0;
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}
.burger_menu.show{
    right: 0;
}
.burger_menu li{
    margin: 8px 0;
}
.burger_menu li a{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #F4D9A6;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    padding: 8px 0;
}
.burger_menu li a:hover{
    background: rgba(255,255,255,0.08);
    border-radius: 6px;
    margin-left: -5px;
}

.container{
    padding: 40px;
}

.for_her, .for_him{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

.product{
    text-align: center;
}

.product img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease;
}

.product img:hover{
    transform: scale(1.05);
}
